################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DirectoryToFile/obj/Debug
/.vs/DirectoryToFile/v15/sqlite3
bin/DirectoryToFile\bin\Debug\output.txt
